.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.postList {
  position: relative;
}

.navbar {
  background-color: #091f43 !important;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar__logo {
  height: 10rem;
}

.profilePicture__mini {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.submit {
  position: fixed;

  z-index: 10;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
}

.submit__button {
  color: #091f43;

  font-size: 4rem;
}

.card {
  margin: 2rem 0;
}
.post__Picture {
  width: 80%;
  margin: auto;
}

.card-text {
  width: 80%;
}

.card {
}
.card-header,
.card-footer {
  background-color: white !important;
}

.card-header {
  background-color: #d1515a !important;
  padding: 1rem;
  color: white;
}

.card-header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card-footer {
  padding-top: 1rem;
  background-color: #d1515a !important;
}

.card-footer p {
  color: white;
}

.btn-primary {
  background-color: #091f43 !important;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #153a75 !important;
  transition: 0.33s ease-in-out;
}

.post__link {
  text-decoration: none;
  color: black;
  width: 100%;
}

.sidebar {
  background-color: #d1515a;
  padding: 0.5rem 0.5rem 2rem;
  border-radius: 0.5rem;
  height: fit-content;
  color: white;
  font-weight: bold;
}

.login {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.loginPicture {
  background-color: #d1515a;
  border-radius: 10px 0 0 10px;
}

.btn__active,
.btn__active:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  border-bottom: none !important;
  font-weight: bold;
}

.btn__inactive,
.btn__inactive:hover {
  background-color: rgb(146, 146, 146);
  border-radius: 0;
  border-bottom: none !important;
}
