.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  display: flex;
  vertical-align: middle;
  background-color: #4169e1;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.signup input {
  width: 300px;
  height: 1.5rem;
}

.signup button {
  width: 150px;
  height: 1.5rem;
  margin: 1rem 0;
}

.login {
  display: flex;
  vertical-align: middle;
  background-color: #4169e1;
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.login input {
  width: 300px;
  height: 1.5rem;
}

.login button {
  width: 150px;
  height: 1.5rem;
  margin: 1rem 0;
}

.hide {
  display: none;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.post {
  margin: 1rem;
  padding: 1rem;
  background-color: #4169e1;
}
